Segmenting and Clustering Neighborhoods in Toronto - Homework


This Notebook has been created to develop this homework.
First, we import and load the necessary libraries to carry out the entire process.

In [1]:
import requests
import lxml.html as lh
from itertools import cycle, islice
from matplotlib import colors
import pandas as pd
import numpy as np
import json
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
#Download the data of the web
url='https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M'

In [3]:
#Create page, to handle the contents of the website
page = requests.get(url)

In [4]:
#Store the contents of the website under doc
doc = lh.fromstring(page.content)

In [5]:
#Now parse data that are stored between <tr>..</tr> of HTML
tr_elements = doc.xpath('//tr')

In [6]:
#Check the length of the first 10 rows
[len(T) for T in tr_elements[:10]]

[3, 3, 3, 3, 3, 3, 3, 3, 3, 3]

In [7]:
tr_elements = doc.xpath('//tr')

In [8]:
#Create empty list
col=[]
i=0

In [9]:
#Store each first element (header) and an empty list, and print the headers
for t in tr_elements[0]:
    i+=1
    name=t.text_content()[:-1]
    print ("%d:%s"%(i,name))
    col.append((name,[]))

1:Postal Code
2:Borough
3:Neighbourhood

In [10]:
#The first row is the header, and data is stored on the second row onwards
for j in range(1,len(tr_elements)):
    #T is our j'th row
    T=tr_elements[j]
    
    #If row is not of size 3, the //tr data is not from our table 
    if len(T)!=3:
        break
    
    #i is the index of our column
    i=0
    
    #Iterate through each element of the row
    for t in T.iterchildren():
        data=t.text_content()[:-1] 
        #Check if row is empty
        if i>0:
        #Convert any numerical value to integers
            try:
                data=int(data)
            except:
                pass
        #Append the data to the empty list of the i'th column
        col[i][1].append(data)
        #Increment i for the next column
        i+=1

In [11]:
# Obtain the length of columns
[len(C) for (title,C) in col]

[181, 181, 181]

In [12]:
#Define the Data Frame
Dict={title:column for (title,column) in col}
df=pd.DataFrame(Dict)

In [13]:
#Visualize the Data Frame
df

,Postal Code,Borough,Neighbourhood
0,M1A,Not assigned,Not assigned
1,M2A,Not assigned,Not assigned
2,M3A,North York,Parkwoods
3,M4A,North York,Victoria Village
4,M5A,Downtown Toronto,"Regent Park, Harbourfront"
...,...,...,...
176,M6Z,Not assigned,Not assigned
177,M7Z,Not assigned,Not assigned
178,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."
179,M9Z,Not assigned,Not assigned
180,,Canadian postal codes,

The data "Not assigned" in the column "Borough", and the last row, are dropped. Too, the index column is reseted.

In [14]:
df=df.drop(df[df["Borough"]=="Not assigned"].index)
df=df.drop(df[df["Borough"]=="Canadian postal codes"].index)
df.reset_index(drop=True,inplace=True)
df

,Postal Code,Borough,Neighbourhood
0,M3A,North York,Parkwoods
1,M4A,North York,Victoria Village
2,M5A,Downtown Toronto,"Regent Park, Harbourfront"
3,M6A,North York,"Lawrence Manor, Lawrence Heights"
4,M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government"
...,...,...,...
98,M8X,Etobicoke,"The Kingsway, Montgomery Road, Old Mill North"
99,M4Y,Downtown Toronto,Church and Wellesley
100,M7Y,East Toronto,"Business reply mail Processing Centre, South C..."
101,M8Y,Etobicoke,"Old Mill South, King's Mill Park, Sunnylea, Hu..."
102,M8Z,Etobicoke,"Mimico NW, The Queensway West, South of Bloor,..."

In [15]:
df.shape

(103, 3)

In [16]:
#We save the Data Frame in a file .csv
df.to_csv('Toronto-Neighborhoods.csv')